.Button {
    font-size: 1rem;
    font-family: 'Fredoka';
    font-weight: 500;

    width: 100%;
    border: none;
    border-radius: 2em;
    padding: 8px 16px;

    background-color: var(--clr-primary);
    color: white;

    /* only to limit text size if has icon */
    display: flex;
    flex-direction: row;
}

.Button svg {
    font-size: 1.2em;
}