.Button {
    font-size: 1rem;
    
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 2.5em;
    width: 100%;
    border: none;
    border-radius: 2em;
    padding: 8px 16px;

    background-color: var(--clr-primary);
    color: white;
}