.ProductCard {
    position: relative;
    max-width: 200px;
    padding: 16px;
    background-color: white;
}

.ProductCard .Badge {
    position: absolute;
    left: 16px; top: 16px;
}

.ProductCard .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.ProductCard .content-wrapper > :not(:first-child) {
    margin-top: 8px;
}

.ProductCard .image-wrapper {
    width: 100px; height: 100px;
}
.ProductCard .image-wrapper :first-child {
    width: 100%; height: 100%;
}

.ProductCard .name {
    font-size: 1em;
    font-weight: 500;
}

.ProductCard .price-container {
    width: 100%;
}

.ProductCard .pre-discount-price {
    display: block;
    font-size: .8em; line-height: 1em;
    font-weight: 300;
    color: var(--clr-light-dark);
}
.ProductCard .pre-discount-price:empty:after {
    content: "\200B"; /* Keep size even if empty */
}

.ProductCard .final-price {
    display: block;
    font-size: 1.5em; line-height: 1em;
}

.ProductCard .Button {
    font-size: 1em;
}