.Modal {
    /* Fill page with shadow */
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;

    /* Content on bottom */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.Modal .content {
    position: relative;
    padding: 1em; padding-top: 2.6em;
    width: 100%;
    max-height: 90%; /* Never fill entire page */
    background-color: white;
}

/* close button */
.Modal #modal-x {
    position: absolute;
    top: .2em; right: .3em;
    font-size: 2em;
}

/* Desktop */
@media screen and (min-width: 480px) {
    .Modal {
        align-items: center;
    }
    .Modal .content {
        width: fit-content;
        max-width: 90%;
    }
}

/* --- React Transition Group --- */
:root {
    --transition-duration: 300ms;
}
/* background fade */
.Modal.enter { 
    opacity: 0; 
}
.Modal.enter-active { 
    opacity: 1; 
    transition: opacity var(--transition-duration); 
}
.Modal.exit {
    opacity: 1;
}
.Modal.exit-active {
    opacity: 0;
    transition: opacity var(--transition-duration);
}

/* content slide */
.Modal.enter .content {
    bottom: -20px;
}
.Modal.enter-active .content {
    bottom: 0;
    transition: bottom var(--transition-duration);
}
.Modal.exit .content {
    bottom: 0;
}
.Modal.exit-active .content {
    bottom: -20px;
    transition: bottom var(--transition-duration);
}